---
import ReactLogo from "./reactLogo.astro";
import NextLogo from "./nextLogo.astro";
import TanstackLogo from "./tanstackLogo.astro";
---
<div class="grid grid-cols-3 gap-4 mt-8">
	<a
	  href="https://github.com/get-convex/better-auth/tree/main/examples/react"
	  class="bg-gray-100 dark:bg-gray-800 p-8 rounded-lg flex flex-col items-center justify-center hover:translate-y-[-5px] hover:shadow-lg transition-all duration-300"
	>
	  <ReactLogo class="w-10 h-10 text-black dark:text-white" />
	  <h3 class="text-lg font-bold">React</h3>
	</a>
	<a
	  href="https://github.com/get-convex/better-auth/tree/main/examples/nextjs"
	  class="bg-gray-100 dark:bg-gray-800 p-8 rounded-lg flex flex-col items-center justify-center hover:translate-y-[-5px] hover:shadow-lg transition-all duration-300"
	>
	  <NextLogo class="w-10 h-10 text-black dark:text-white" />
	  <h3 class="text-lg font-bold">Next.js</h3>
	</a>
	<a
	  href="https://github.com/get-convex/better-auth/tree/main/examples/tanstack"
	  class="bg-gray-100 dark:bg-gray-800 p-8 rounded-lg flex flex-col items-center justify-center hover:translate-y-[-5px] hover:shadow-lg transition-all duration-300"
	>
	  <TanstackLogo class="w-10 h-10 text-black dark:text-white" />
	  <h3 class="text-lg font-bold">Tanstack</h3>
	</a>
  </div>