name: Run tests
on:
  push:
    branches: ["main", "test-ci"]
  pull_request:
    branches: ["main", "test-ci"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          cache-dependency-path: |
            package.json
          node-version: "18.x"
          cache: "npm"
      - run: npm install
      - run: npm test
